site_name: Uniswap V3 Volatility Oracle docs
nav:
  - Home: index.md
  - Technical: technical.md
  - Development: development.md
theme:
  name: material
  logo: img/favicon.ico
  favicon: img/favicon.ico
  features:
    - navigation.top
extra_css:
  - stylesheets/extra.css
repo_url: https://github.com/ankitchiplunkar/v3-volatility-oracle
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
